body {
	font-family: Arial, sans-serif;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* 도서 상단 무료배송, 소득공제, 링크 공유 표기 */
.top-badge {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.top-badge-info {
	display: flex;
	gap: 6px;
}
.top-badge-info p {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 5px 10px;
	font-size: 10px;
	color: #636363;
}
.top-badge-share {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #d9d9d9;
	border-radius: 50%;
	padding: 6px;
	margin-right: 14px;
	cursor: pointer;
}
.top-badge-share img {
	width: 12px;
	height: 12px;
}

.copy-notification,
.cart-notification {
	display: none;
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #35c5f0;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
	z-index: 1000;
}

/* 도서 정보 (이미지, 가격 정보 등) */
.book-info {
	display: flex;
}
.book-info .book-img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.book-info .book-img-container .book-img-main {
	display: flex;
	height: 300px;
	width: 200px;
	justify-content: center;
	align-items: center;
}
.book-info .book-img-container .book-img-main img {
	max-width: 100%;
	height: 100%;
}
.book-info .book-img-container .book-img-sub {
	display: flex;
	height: 60px;
	width: 200px;
	gap: 4px;
}
.book-info .book-img-container .book-img-sub img {
	width: calc(33.33% - 1.33px);
	height: 100%;
	cursor: pointer;
	border-radius: 4px;
	border: 2px solid transparent;
}
.book-info .book-img-container .book-img-sub img:hover {
	border-color: #35c5f0;
}

/* 도서 정보 (도서명, 작가, 가격 등) */
.book-details {
	margin-left: 30px;
	width: 100%;
}
.book-title {
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
}
.book-author {
	margin-bottom: 20px;
	color: #636363;
	font-size: 14px;
}
.book-price-quantity-info {
	display: flex;
	padding: 10px 0;
	flex-direction: column;
	gap: 20px;
	font-size: 16px;
}
.price {
	display: flex;
}
.quantity-container {
	display: flex;
	align-items: center;
}
select {
	width: 40px;
	font-size: 16px;
}
.price span:first-child,
.quantity-container label {
	width: 100px;
}

/* 배송 일정 정보 */
.arrival-date {
	display: flex;
	align-items: center;
	margin: 20px 0;
	margin-right: 20px;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 4px;
	color: #636363;
	font-size: 14px;
	font-weight: bold;
}
.arrival-date img {
	width: 14px;
	margin-right: 6px;
}
.arrival-date span {
	color: #35c5f0;
	margin-right: 6px;
}
.arrival-date .arrival-date-notice {
	margin-left: auto;
}

/* 장바구니, 바로구매 버튼 */
.buttons {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-right: 20px;
}
.buttons button {
	width: 48%;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}
.buttons .cart {
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	cursor: pointer;
	color: #35c5f0;
	border: 1px solid #35c5f0;
	border-radius: 5px;
	font-weight: bold;
}
.buttons .cart:hover {
	cursor: pointer;
}
.buttons .buy-now {
	width: 100%;
	height: 40px;
	background-color: #35c5f0;
	color: #ffffff;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	font-weight: bold;
}

.buttons .buy-now:hover {
	background-color: #07b8ee;
	cursor: pointer;
}

/* 광고 배너 */
.ads {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	margin-right: 20px;
}
.ads img {
	width: 48%;
}
.ads img:hover {
	cursor: pointer;
}

/* 도서 상세정보 */
.book-detail-container {
	margin: 20px 0 40px;
}

/* 도서 상새 정보 내용 */
.book-detail-content-container {
	padding: 0 20px 40px 20px;
}
.book-detail-content h3 {
	font-size: 26px;
	font-weight: bold;
	padding-top: 30px;
}
.book-detail-content p,
.book-detail-content pre {
	font-size: 16px;
	padding-top: 10px;
	line-height: 1.4;
}
.book-info-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.book-info-table th,
.book-info-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.book-info-table th {
	background-color: #f9f9f9;
}

.book-info-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.book-info-table tr:hover {
	background-color: #ddd;
}

.book-detail-content pre {
	text-align: left;
	white-space: pre-wrap;
}
