body {
	font-family: Arial, sans-serif;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	width: 100%;
	padding-top: 10px;
	gap: 20px;
}

/* 왼쪽 사이드바 */
.sidebar {
	width: 20%;
	background-color: #fff;
	border: 1px solid #35c5f0;
	border-radius: 10px;
	overflow: hidden;
}

.book-category {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: #35c5f0;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}

.sidebar ul {
	list-style: none;
	padding: 16px 16px;
}

.sidebar ul li {
	padding: 4px 2px;
	font-size: 14px;
	color: gray;
}

.sidebar ul li a {
	text-decoration: none;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.submenu {
	display: none;
	list-style: none;
	padding-left: 20px;
}

.submenu li {
	margin-bottom: 4px;
}

.toggle-icon {
	display: inline-block;
	width: 20px;
	text-align: center;
}

/* 상단 탭 */
.main-content {
	flex: 1;
}

.category {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.category button {
	flex: 1;
	height: 40px;
	background-color: white;
	color: black;
	cursor: pointer;
	border: 1px solid #35c5f0;
	border-bottom: none;
	margin-right: -1px;
}

.category button:first-child {
	border-radius: 10px 0 0 0;
}

.category button:last-child {
	border-radius: 0 10px 0 0;
	margin-right: 0;
}

.category button.active,
.category button:hover {
	background-color: #35c5f0;
	color: white;
}

/* 도서 목록 */
.book-list {
	display: flex;
	flex-wrap: wrap;
}

.book-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	width: calc(25% - 20px);
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	text-align: center;
	gap: 4px;
}

@media (max-width: 900px) {
	.book-item {
		width: calc(33.33% - 20px);
	}
}

@media (max-width: 600px) {
	.book-item {
		width: calc(50% - 20px);
	}
}

.book-item img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

@media (max-width: 900px) {
	.book-item {
		width: calc(33.33% - 20px);
	}
}

.book-item .book-title {
	font-weight: bold;
}
.book-item .book-author {
	font-size: 14px;
	color: #636363;
}
.book-item .book-price {
	font-size: 14px;
	color: #ea5355;
}
