body {
	font-family: Arial, sans-serif;
	max-width: 1100px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu {
	display: flex;
	gap: 20px;
	font-size: 14px;
	margin: 10px;
	margin-left: auto;
}

.menu a {
	text-decoration: none;
	color: black;
}

/* 로고 */
.logo-search-bar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	padding-bottom: 10px;
}

.logo img {
	width: 140px;
}

/* 검색창 */
.search-bar {
	display: flex;
	align-items: center;
	width: 560px;
	height: 48px;
	padding-right: 14px;
	background: #fff;
	border: 1px solid #35c5f0;
	border-radius: 24px;
	padding: 5px 10px;
	box-sizing: border-box;
}

.search-bar select,
.search-bar input {
	border: none;
	outline: none;
	margin: 0 5px;
}

.search-bar input {
	flex-grow: 1;
}

.search-bar button {
	background: none;
	border: none;
	cursor: pointer;
}

.search-bar button img {
	height: 20px;
}

.sub-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 10px;
	box-sizing: border-box;
	border-top: 1px solid #ddd;
}
.sub-menu a {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}
.find-a-book-field {
	font-weight: bold;
	position: relative;
	display: inline-block;
}
.find-a-book-field a {
	color: #35c5f0;
}
.find-a-book-field img {
	height: 16px;
	vertical-align: middle;
}
.sub-menu-category {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 1;
	padding: 10px;
	border-radius: 4px;
}
.find-a-book-field:hover .sub-menu-category,
.sub-menu-category:hover {
	display: block;
}
.menu-item {
	position: relative;
	width: 100px;
}
.menu-item:hover {
	border-right: 4px solid #35c5f0;
}
.menu-item:hover + .shared-sub-menu,
.shared-sub-menu:hover {
	border-right: none;
	display: block;
}
.shared-sub-menu {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	background-color: white;
	z-index: 1;
	padding: 10px;
	border-radius: 4px;
	width: 200px;
}
.find-a-book-field:hover .shared-sub-menu,
.shared-sub-menu:hover {
	display: block;
}
.menu-item .sub-sub-menu a {
	display: block;
	padding: 8px 12px;
	color: #000;
	text-decoration: none;
	transition: background-color 0.3s;
	width: 200px;
}
.menu-item .sub-sub-menu a:hover {
	border-radius: 4px;
}
.sub-menu-category-container {
	width: 200px;
	display: flex;
	background-color: #fff;
}
.sub-menu-category {
	width: 40%;
}
.sub-menu-category a {
	display: block;
	padding: 8px 12px;
	color: #000;
	text-decoration: none;
	transition: background-color 0.3s;
}
.sub-menu-category a:hover {
	border-radius: 4px;
}

.offline-faq {
	display: flex;
	gap: 20px;
	font-size: 14px;
	margin: 6px;
}
.offline-faq a {
	font-weight: bold;
}
