body {
	font-family: Arial, sans-serif;
	max-width: 1100px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu {
	display: flex;
	gap: 20px;
	font-size: 14px;
	margin: 10px;
	margin-left: auto;
}

.menu a {
	text-decoration: none;
	color: black;
}

/* 로고 */
.logo-search-bar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	padding-bottom: 10px;
}

.logo img {
	width: 140px;
}

/* 검색창 */
.search-bar {
	display: flex;
	align-items: center;
	width: 560px;
	height: 48px;
	padding-right: 14px;
	background: #fff;
	border: 1px solid #35c5f0;
	border-radius: 24px;
	padding: 5px 10px;
	box-sizing: border-box;
}

.search-bar select,
.search-bar input {
	border: none;
	outline: none;
	margin: 0 5px;
}

.search-bar input {
	flex-grow: 1;
}

.search-bar button {
	background: none;
	border: none;
	cursor: pointer;
}

.search-bar button img {
	height: 20px;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 10px;
	box-sizing: border-box;
	border-top: 1px solid #ddd;
}
.main-menu a {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}
.find-a-book-field {
	font-weight: bold;
	position: relative;
	display: inline-block;
}
.find-a-book-field a {
	color: #35c5f0;
}
.find-a-book-field img {
	height: 16px;
	vertical-align: middle;
	padding-right: 6px;
}
.main-menu-category-container {
	display: none;
	width: 400px;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 100;
	border-radius: 6px;
}
.main-menu-category {
}
.find-a-book-field:hover .main-menu-category-container {
	display: flex;
}
.main-menu-category {
	display: flex;
	flex-direction: column;
	border-right: 4px solid #35c5f0;
}
.main-menu-category-container .main-menu-category .menu-item {
	padding: 10px;
	width: 80px;
}
.main-menu-category-container .main-menu-category .menu-item:hover {
	background-color: #35c5f0;
	color: #fff;
}
.main-menu-category-container .main-menu-category .menu-item a {
	color: #000000;
	font-weight: bold;
}
.main-menu-category-container .main-menu-category .menu-item:hover a {
	color: #fff;
}
.sub-menu-category {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 10px 0px 10px 20px;
	gap: 20px;
}
.sub-menu-category a {
	color: #000000;
	font-weight: normal;
	text-align: left;
}
.goods {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 0;
}
.goods img {
	height: 240px;
	border-radius: 6px;
}

/* 우측 메뉴 */
.offline-faq {
	display: flex;
	gap: 20px;
	font-size: 14px;
	margin: 6px;
}
.offline-faq a {
	font-weight: bold;
}
