body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.signup-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	width: 560px;
	box-sizing: border-box;
}

.signup-title {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding: 30px 0;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 800px;
}

.form-container form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-group label {
	display: block;
	margin: 6px 0px;
	font-size: 16px;
	font-weight: bold;
	color: #2f3438;
	letter-spacing: -0.3px;
	word-break: keep-all;
}

.form-group p {
	margin: 4px 0px;
	font-size: 12px;
	line-height: 18px;
	color: #828c94;
	letter-spacing: -0.3px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.email-group select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	height: 40px;
	outline: none;
}

.form-group input:focus,
.form-group select:focus {
	border: 2px solid #35c5f0;
}

.email-group {
	display: flex;
	align-items: center;
}

.email-group span {
	margin: 0 10px;
}

.email-group select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
}

/* input 에러메세지 관련 */
.form-group .error-message {
	display: none;
	color: #ff7777;
	font-size: 12px;
	margin-top: 5px;
}

.form-group .email-format {
	display: none;
	color: #ff7777;
	font-size: 12px;
	margin-top: 5px;
}

.form-group .email-language-error {
	display: none;
	color: #ff7777;
	font-size: 12px;
	margin-top: 5px;
}

.form-group .email-option-error {
	display: none;
	color: #ff7777;
	font-size: 12px;
	margin-top: 5px;
}

.form-group.error input {
	border: 1px solid #ff7777;
}

.form-group.error .error-message {
	display: block;
}

.form-group.error .email-format {
	display: block;
}

.form-group.error .email-language-error {
	display: block;
}

.form-group.error .email-option-error {
	display: block;
}

/* 약관동의 */
.terms {
	padding: 18px;
	border: 1px solid #eaedef;
	font-size: 14px;
	font-weight: bold;
}

.terms input {
	font-size: 14px;
}

.terms label {
	font-size: 14px;
	font-weight: normal;
}

.terms span {
	color: #828c94;
	font-size: 12px;
}

.terms label span.consent {
	font-weight: bold;
	font-size: 14px;
	color: #000000;
}

.terms hr {
	margin: 10px 0;
	border: 1px solid #eaedef;
}

.terms label span.terms-required {
	color: #35c5f0;
	font-weight: normal;
}

.terms label span.terms-option {
	color: #828c94;
	font-weight: normal;
}

/* 회원가입 버튼 */
.join-btn {
	width: 100%;
	padding: 15px;
	border: none;
	border-radius: 5px;
	background-color: #35c5f0;
	color: white;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.join-btn:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.join-btn:hover:not(:disabled) {
	background-color: #07b8ee;
}

/* 로그인 */
.login-link {
	text-align: center;
	margin: 10px 0;
	font-size: 14px;
}

.login-link a {
	color: #35c5f0;
	font-weight: bold;
}

.logo-container img {
	width: 200px;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
}
