body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

.login-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	gap: 20px;
}

.login-title {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	padding: 20px 0;
}

.login-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	width: 300px;
}

.login-content {
	display: flex;
}

.login-content > input {
	color: #000000;
	width: 100%;
	padding: 10px;
	border: 1px solid #898989;
	border-radius: 6px;
	font-size: 14px;
	outline: none;
}

.login-content > input:focus {
	border-color: #35c5f0;
}

/* 로그인 버튼 */
.login-btn {
	width: 100%;
	height: 40px;
	background-color: #35c5f0;
	color: #ffffff;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
}

.login-btn:hover {
	background-color: #07b8ee;
}

/* 아이디 저장 체크박스 */
.login-container label {
	display: flex;
	align-items: center;
	height: 18px;
}

.login-container label .custom-checkbox {
	appearance: none;
	width: 18px;
	height: 18px;
	border: 1px solid #ccc;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	margin-right: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.login-container label .custom-checkbox:checked {
	background-color: #35c5f0;
	border: 1px solid #35c5f0;
}

.login-container label .custom-checkbox:checked::after {
	content: "✔";
	font-size: 12px;
	color: #ffffff;
	position: absolute;
}

.login-container label p {
	font-size: 14px;
}

/* 회원가입 */
.join-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px 0;
	width: 100%;
}

.join-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #35c5f0;
	border: 1px solid #35c5f0;
	background-color: #fff;
	height: 40px;
	width: 100%;
	text-align: center;
	border-radius: 6px;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}
